<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <link rel='stylesheet' href='/admin/static/css/framework.css'>
    <title>{% block title %}{% endblock %}</title>
    {% block style %}
    {% endblock %}

    {% endblock %}
</head>
<body>
    {% include 'nav.html' %}
    <div class="container">
        <div class="row">
            <div class='column column-25'>
                {% include 'aside.html' %}
            </div>
            <div class='column column-75'>
                <section id='content' style='background-color: red;'>
                    {% block content %}
                    {% endblock %}
                </section>
            </div>
        </div>
    </div>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
    {% block javascript %}
    {% endblock %}
</body>
</html>